* {
  box-sizing: border-box;
}

html {
  border: 1.5rem solid lightgreen;
  height: 100vh;
}

.App {
  text-align: center;
}

.logo {
  margin-top: 4rem;
  width: 80%;
}

.header {
  margin-top: 5rem;
}

.inputContainer {
  display: flex;
  justify-content: center;
}

.inputField {
  text-align: center;
  width: 25%;
  padding: 1rem;
  margin: 1rem;
}

.btn {
  margin-top: 10rem;
  padding: 1rem;
  min-width: 6rem; 
  background-color: lightgreen;
  border: none;
}